body {
    background-color: #b7f7f3;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #bff5e7;
    text-align: center;
    padding: 40px;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #517288;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #00bfff;
}

thead {
    background-color: #e7d8d8;
}

th {
    padding: 10px;
    border: 1px solid #aed4dd;
    font-size: 1em;
}

td {
    padding: 10px;
    border: 1px solid #faf6f6;
    text-align: center;
    background-color: #659aa1;
}

tfoot {
    background-color: #5573b8;
    font-weight: bold;
    color: #00ffcc;
}

tbody tr:hover {
    background-color: #4d8cb1;
    transition: background-color 0.3s;
}